@import "../../app.scss";

.project {
    height: 100vh;
    background-image: url(/public/project-bg.svg);
    background-size: cover;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    @include mobile{
        height: 35vh;
    }


    .text {
        width: 100%;
        margin: 60px 0 50px 0;
        @include mobile{
            margin: 28px 0 15px 0;
        }

        h3 {
            font-size: 2.5em;
            @include mobile{
                font-size: 1.2em;
            }
        }
    }

    .gallery {
        margin-top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
            height: 15vh;
        }

        .arrow {
            height: 50px;
            width: 50px;
            padding: 5px;
            background: #FA7268;
            border: none;
            border-radius: 50%;
            font-size: 2em;
            cursor: pointer;
            color: white;
            @include mobile{
                height: 25px;
                width: 25px;
                font-size: 0.6em;
            }
        }

        .project-container {
            width: 70%;
            display: flex;
            gap: 15px;
            overflow: hidden;
            text-align: left;
            justify-content: center;
            @include mobile{
                width: 80%;
            }

            .project-item {
                justify-content: center;
                width: 35%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                background-color: #FFDFDF;
                border-radius: 10px;
                padding: 25px;
                @include mobile{
                    width: 40%;
                    padding: 12px;
                }

                h4 {
                    color: black;
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 1.3em;
                    @include mobile{
                        font-size: 0.6em;
                        margin-bottom: 5px;
                    }
                }

                p {
                    font-size: 1em;
                    color: gray;
                    @include mobile{
                        font-size: 0.4em;
                    }
                }

                img {
                    width: 100%;
                }

                button {
                    width: 30%;
                    background-color: #FFEFEF;
                    border: none;
                    padding: 3px 5px;
                    border-radius: 5px;
                    @include mobile{
                        font-size: 0.4em;
                        width: 40%;
                    }

                    a {
                        color: gray;
                        font-size: 1em;
                        text-decoration: none;
                      
                    }


                }

                button:hover {
                    background-color: #FFCBCB;
                }
            }
        }
    }
}