@import "../../app.scss";

.tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tabs {
        display: flex;
        gap: 5px;

        button {
            padding: 10px 20px;
            background-color: #E34C67;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            @include mobile {
                font-size: 0.7em;
                padding: 5px 8px;
            }

            &:hover {
                background-color: #FA7268;
            }
        }
    }

    .content-container {
        margin-top: 30px;
        padding: 20px;
        width: 60%;
        height: 80%;

        @include mobile {
            margin-top: 15px;
            padding: 10px;
        }

        .content {
            align-items: center;
            width: 60%;
            height: 60%;
            flex-wrap: wrap;
            margin: auto;
            display: flex;
            justify-content: center;
            gap: 10px;

            @include mobile {
                width: 100%;
            }

            button {

                border: 2px solid #FA7268;

                img {
                    width: 3em;

                    @include mobile {
                        width: 1.5em;
                    }
                }
            }


        }

        .content2 {
            align-items: center;
            width: 60%;
            height: 60%;
            flex-wrap: wrap;
            margin: auto;
            display: flex;
            justify-content: center;
            gap: 10px;

            @include mobile {
                width: 100%;
            }

            button {
                border: 3px solid #FA7268;
                padding: 6px 8px;
                font-size: 0.8em;
                color: white;
                background-color: #FBE2E5;
                color: black;

                @include mobile {
                    font-size: 0.5em;
                    padding: 3px 5px;
                    border: 2px solid #FA7268;
                }
            }
        }
    }

    .text {
        p {
            margin-top: 20px;
            font-size: 1em;
            color: white;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;

            @include mobile {
                font-size: 0.6em;
                margin-top: 10px;
            }
        }
    }









}