@import "../../app.scss";

.container {
    height: 90vh;
    background-color: #001220;
    background-image: url("/public/about-bg.svg");
    background-size: cover;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    @include mobile {
        height: 30vh;
    }

    .stars {
        background-image: url(/public/stars.png);
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }

    .about {
        height: 30vh;
        width: 50%;
        margin: auto;
        align-items: left;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;

        @include mobile {
            height: 15vh;
        }


        h2 {
            font-size: 1em;
            letter-spacing: 6px;
            text-transform: uppercase;

            @include mobile {
                font-size: 0.5em;
                letter-spacing: 3px;
                padding-bottom: 5px;
            }
        }

        h1 {
            font-size: 3em;

            @include mobile {
                font-size: 1.1em;
            }
        }

        .buttons {
            padding-top: 1em;
            display: flex;
            gap: 15px;

            @include mobile {
                padding-top: 0.5em;
                gap: 5px;
                
            }

            button {
                border: none;
                padding: 5px 8px;
                border-radius: 10px;
                cursor: pointer;

                @include mobile {
                    padding: 3px 5px;
                    font-size: 0.5em;
                }
            }

            a {
                color: black;
                text-decoration: none;
                font-size: 1em;
            }
        }
    }
}