@import "../../app.scss";

.navbar {
    height: 10vh;
    background-color: #001220;
    color: white;

    @include mobile {
        height: 5vh;
    }
}

.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
        justify-content: flex-end;
        padding: 20px;
    }

    span {
        font-weight: bold;
        font-size: 1em;

        @include mobile {
            display: none;
        }
    }

    .social {
        display: flex;
        gap: 15px;

        img {
            width: 30px;
            height: auto;

            @include mobile {
                width: 15px;
            }
        }
    }
}